@charset "UTF-8";

:root{
    --max_width:1200px;
}



body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    position: relative;

}

.heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
}

.imgcontainer{
    
    
    
}

.container{
    
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.our-mission{
    
    text-align: center;
    margin-right: 40px;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;   
}
.our-vision{
   
    text-align: center;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px; 
}


.container1{
   
    /* width: 350px; */
    /* height: 100px; */
    /* margin-left: 900px; */
}

.container2{
    
    
    /* width: 350px; */
    /* height: 100px; */
    /* margin-left: 100px; */
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-content{
    text-align:center;
    font-size: 25px;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.about-content .read-more{
    display:inline-block;
    padding: 10px;
    background-color: #4caf50;
    color: red;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: #3e8e41;
}

.vparah{
    font-size: 20px;
    text-align: center;
}



.teamcontainer{
    
    width: 100vw;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 0px;
}

.imghcontainer{
    border: 3px solid black ;
    width: 100vw;
    height: 500px;
    margin-top: 20px;
    padding-top: 200px;
}

.imgtext{
    text-align: center;
    font-size: 60px;
}

.heading1{
    position: absolute;
    top: 54%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.image_hover{
    width: 100vw;
    height: 560px;
    background-color: darkblue;
}

.car_image{
    width: 100vw;
    height: 560px;
    opacity: 60%;

}

.all-cont{
    background-color: darkblue;
    color: white;
    width: 100vw;
    height: fit-content
}
