.heading1 {
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings {
    text-align: left;
}

.heading2 {
    margin-top: 0;
    margin-bottom: 0;
}

.formSection {
    text-align: center;
    margin-top: 60px;
}

.stars {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    width: 60px;
}

.stars::before {
    content: '\2605';
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.stars:hover:before {
    color:darkblue;
}

.selected::before {
    color: darkblue;
}

.fbText {
    margin-top: 20px;
}

input[type="radio"] {
    display: none;
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: black;
    color: white;
}