@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(72, 115, 207);
  }
  nav {
    background-color: #0e1079;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .logo {
    flex: 1;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  .user-circle {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
  }

h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p
{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.form
{
    border-radius: 10px;
    align-content: center;
    justify-content: center;
}

label
{
    color: #fff;
    width:235px;
    display: inline-block;
    margin: 10px;
    padding-left:35%;
    font-style: oblique;
    align-items: center;
}

.registerbtn {
  background-color: white;
  color: blue;
  padding: 10px 30px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  align: center;
}

.registerbtn:hover
{
  opacity: 1;
}

.vertical-center {
  left:50%;
  right:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkbox
{
  align-self: center;
}
.container
{
    align-content: center;
}


.input-box
{
    border: 2px;
    align-items: center;
    justify-content: center;
}