@charset "UTF-8";

:root {
    --max_width: 1200px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*navbar_container*/
.navbar_container{
    
    width: 100vw;
    height: 100px;
}


/*image container*/
.img_container {
    
    width: 100vw;
    height: 460px;
}
.car_image{
    width: 100vw;
    height: 460px;

}

/*center_container*/
.center_container {
    
    width: 100vw;
    height: 1000px;
    background-color: darkblue;
    padding-top: 50px;
}

.center_container1 {
    
    width: 100vw;
    height: 1000px;
    background-color: darkblue;
    padding-top: 50px;
}
.form_container{
    
    width: 1000px;
    height: 680px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    
    color: white;
    
}
.terms{
    color: white;
}


.form_only{
    
    margin-left: 300px;
    text-align: center;
    width: fit-content;
    border: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    font-size: 20px;
    width: 400px;
    line-height: 25px;
    font-family:Arial, Helvetica, sans-serif

}


.intro-paragraph{
    font-size: 20px;
}

.bottom-text{
    text-align: center;
}