@charset "UTF-8";

:root {
    --max_width: 1200px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




/*image container*/
.img_container {
    
    width: 100vw;
    height: 560px;
    
}
.car_image{
    width: 100vw;
    height: 560px;
    opacity: 60%;

}

/*center_container*/
.center_container {
    
    width: 100vw;
    height: 1000px;
    background-color: darkblue;
    padding-top: 50px;
}

.center_container1 {
    
    width: 100vw;
    height: 1000px;
    background-color: darkblue;
    padding-top: 50px;
}
.form_container{
    
    width: 1000px;
    height: 680px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    color: white;
    
}
.terms{
    color: white;
}


.form_only{
    margin-left: 300px;
    text-align: center;
    width: fit-content;
    border: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    font-size: 20px;
    width: 400px;
    line-height: 25px;
    font-family:Arial, Helvetica, sans-serif

}


.intro-paragraph{
    font-size: 20px;
}

.bottom-text{
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translateZ(20px);
    margin-bottom: 0;
    
}
.button
{
    transition-duration: 0.4s;
    font-size: 12px;;
}
.button:hover
{
    background-color:cyan;
    color:white;
}
.myfooter{
    margin-bottom: 0;
=======
>>>>>>> 96fd541e578de52b3dad48389a1d03c2f6e312c2
=======
}

.image_hover{
    width: 100vw;
    height: 560px;
    background-color: darkblue;
}

.top_container{
    width: 100vw;
    height: 560px;
    
}

.heading1{
    position: absolute;
    top: 54%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> 9aeccb8646b882164c07a9d6cdb9a6bc2c6b4b3f
}