
.form-container {
    width: 500px;
    margin: 60px auto;
    height: 700px;
   
    padding: 20px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
    
  }
  
  .input-field {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  textarea.input-field {
    height: 25px;
    width: 100%;
  }
  
  
  .submit-button {
    background-color:white;
    color: darkblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color:white;
  }

  .background{
    background-color: darkblue;
    width: 100vw;
    height: 600px;
    color: white;
  }
  
  .heading{
    text-align: center;
    padding-top: 5px;
  }

  .formc{
   
    width: 700px;
    height: 400px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
  }

 