@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.top {
    background-color: white;
    height: 50%;
}

.bottom {
    background-color: darkblue;
    height: 50%;
    color: white;
    
}

.form{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_label {
    width: 100px;
    display: inline-block;
    margin-bottom: 15px;
}

.form h2 {
    text-align: center;
}

.form input[type="text"] {
    margin-right: 60px;
}

.heading1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading1 h1 {
    margin-top: 0px;
}

.heading1 h2 {
    margin-bottom: 0px;
}

.buttons {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 120px;
}

button:hover {
    background-color: black;
}

.text {
    display: inline-block;
    margin: 0px 30px;
}

.approximation {
    font-size: 20px;
}


/*User Profile*/
.container {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.div1 {
    font-weight: bold;
}

.vertical-line {
    border-left: 3px solid black;
    height: 80vh;
    margin: 0 60px;
}

.value {
    font-weight: bold;
}

.details1 {
    margin-bottom: 8px;
}

.details2 {
    margin-bottom: 30px;
}

.editBtn {
    margin-top: 30px;
    margin-left: 10px;
}

